# Ignore everything at the root by default.
/*

# Add exceptions for allowed folders.
!/.github
!/.vscode
!/build
!/data
!/dist
!/img
!/info
!/src
!/test

# Add exceptions for allowed files.
!/.gitignore
!/LICENSE
!/README.md

# Ignore everything in the /dist folder. Add an exception for the .gitkeep file
# to make sure the folder is always created.
# Note: The 'dist' folder serves as a temporary location to build the script,
# and then create GitHub releases from it.
/dist/*
!/dist/.gitkeep

# Ignore everything in the /img folder. Add an exception for ".png" files.
/img/*
!/img/*.png

# Ignore everything in the /src folder by default. Add exceptions for allowed
# folders.
/src/*
!/src/check
!/src/core
!/src/helper
